@model IEnumerable<IndividualProject_BLOG.Models.Comment>

@{
    ViewBag.Title = "IndexComm";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateComm")
</p>
<table class="table">
    <tr>
        <th>
            Post @Html.DisplayNameFor(model => model.Posts.Title)
        </th>
        <th>
            Comment @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>Comment Author</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Posts.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if (item.Author != null)
            {
                @Html.DisplayFor(modelItem => item.Author.FullName)
            }
            else
            {
                <i>Anonymous</i>
            }
        </td>
        <td>
            @if (User.IsInRole("Administrators"))
            {
                @Html.ActionLink("Edit", "EditComm", new { id = item.Id }) @:|
                @Html.ActionLink("Details", "DetailsComm", new { id = item.Id }) @:|
                @Html.ActionLink("Delete", "DeleteComm", new { id = item.Id })
            }
            else
            {
                @Html.ActionLink("Details", "DetailsComm", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
