@using Microsoft.Ajax.Utilities
@using IndividualProject_BLOG.Controllers
@using IndividualProject_BLOG.Models
@model IndividualProject_BLOG.Models.Comment

@{
    ViewBag.Title = "Index";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @if (Model.Author_Id != null)
            {
                @Model.Author_Id
            }
            else
            {
                <i>Anonymous</i>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            <textarea disabled="disabled" class="form-control text-box multi-line" rows="15" style="width:100%">@Model.Text</textarea>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
